In [2]:
import pandas as pd
grants = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/Small_Business_Grant_Agreements.csv')
licenses = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/licenses.csv')
wards = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/wards.csv')

grants_licenses_ward = grants.merge(licenses, on=['address', 'zip'])\
                        .merge(wards, on='ward', suffixes=('_bus', '_ward'))

grants_licenses_ward.head()

,address_bus,zip_bus,grant,company,account,ward,aid,business,alderman,address_ward,zip_ward
0,2105 S STATE ST,60616.0,743,REGGIE'S BAR & GRILL,307071,3,743,REGGIE'S BAR & GRILL,Pat Dowell,5046 SOUTH STATE STREET,60609
1,2251 S STATE ST 1ST,60616.0,763,PRIME WAY,11280,3,763,PRIME WAY,Pat Dowell,5046 SOUTH STATE STREET,60609
2,5458 S WELLS ST,60609.0,775,ALWARSI INC,11671,3,775,ALWARSI INC,Pat Dowell,5046 SOUTH STATE STREET,60609
3,235 E 51ST ST,60615.0,775,CHINA CHOP SUEY,11768,3,775,CHINA CHOP SUEY,Pat Dowell,5046 SOUTH STATE STREET,60609
4,3311 S MICHIGAN AVE,60616.0,NaN,"SOUTHVIEW MANOR, INC.",15015,3,NaN,"SOUTHVIEW MANOR, INC.",Pat Dowell,5046 SOUTH STATE STREET,60609