In [5]:
import pandas as pd
import matplotlib.pyplot as plt

medals = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/5IntroToDataVisMatplotlib/medals_by_country_2016.csv')

medals

      Unnamed: 0  Bronze  Gold  Silver
0  United States      67   137      52
1        Germany      67    47      43
2  Great Britain      26    64      55
3         Russia      35    50      28
4          China      35    44      30
5         France      21    20      55
6      Australia      25    23      34
7          Italy      24     8      38
8         Canada      61     4       4
9          Japan      34    17      13