In [2]:
import pandas as pd
social_fin = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/social_fin.csv')

social_fin

       financial   company      2019      2018      2017      2016
0  total_revenue   twitter   3459329   3042359   2443299   2529619
1   gross_profit   twitter   2322288   2077362   1582057   1597379
2     net_income   twitter   1465659   1205596   -108063   -456873
3  total_revenue  facebook  70697000  55838000  40653000  27638000
4   gross_profit  facebook  57927000  46483000  35199000  23849000
5     net_income  facebook  18485000  22112000  15934000  10217000