In [1]:
import pandas as pd
social_fin = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/social_fin.csv')

social_fin_tall = social_fin.melt(id_vars=['financial','company'], 
                                  value_vars=['2018','2017'],
                                  var_name=['year'], value_name='dollars')
social_fin_tall.head(8)

       financial   company  year   dollars
0  total_revenue   twitter  2018   3042359
1   gross_profit   twitter  2018   2077362
2     net_income   twitter  2018   1205596
3  total_revenue  facebook  2018  55838000
4   gross_profit  facebook  2018  46483000
5     net_income  facebook  2018  22112000
6  total_revenue   twitter  2017   2443299
7   gross_profit   twitter  2017   1582057