In [1]:
import pandas as pd
names = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/NameList1.csv')

#Sort values of names dataframe in ascending order
names.sort_values('Age', ascending=False)

        Name  Age Favorite Color Favorite Subject Hair Color
5    Michael   14           Blue              Gym      Black
2     Ashley   13           Pink            Music     Blonde
4  Stephanie   13         Yellow          English      Brown
0    Melanie   12         Purple        Astronomy      Black
6        Kim   12           Pink        Chemistry     Blonde
1       John   11           Blue        Chemistry      Brown
3       Eric   10          Green          Algebra        Red